@font-face {
	font-family: 'Alata';
	src: url('/assets/fonts/Alata/Alata-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
	font-weight: 300 400 500 600 700 800 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-size-default: 1.5rem;
	--font-size-link: 2.4rem;
	--font-size-h1: 4rem;
	--font-size-h1-desktop: 7.2rem;
	--font-size-h2: 3.2rem;
	--font-size-h2-desktop: 4.8rem;
	--font-size-h3: 2.4rem;
	--font-size-h3-desktop: 3.2rem;
	--font-size-button: 1.4rem;

	--font-family-default: "Alata", sans-serif;
	--font-weight-default: 400;

	--font-family-display: "Josefin Sans", sans-serif;
	--font-weight-display: 300;

	--line-height-default: 2.5rem;
	--line-height-md: 3.8rem;
	--line-height-xl: 7rem;

	--text-case-display: uppercase;

	--spacing-xs: 1.2rem;
	--spacing-s: 2.4rem;
	--spacing-m: 3.2rem;
	--spacing-l: 4.8rem;
	--spacing-xl: 5.6rem;
	--spacing-xxl: 9.6rem;
	--spacing-tablet: 7.2rem;
	--spacing-desktop: 16rem;
}