---
import NavBar from './NavBar.astro';
import ResponsiveImage from './ResponsiveImage.astro';
---

<header>
  <div class='background'>
    <ResponsiveImage
      mobileImgUrl='/assets/images/mobile/image-hero.jpg'
      desktopImgUrl='/assets/images/desktop/image-hero.jpg'
      alt='background image hero'
    />
  </div>
  <NavBar />
  <h1>Immersive experiences that deliver</h1>
</header>

<style>
  header {
    position: relative;
    padding: 4rem 2.4rem 0 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 65rem;
  }
  h1 {
    width: 32.7rem;
    height: auto;
  }
  .background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    flex-shrink: 0;
    max-height: 65rem;

    picture,
    source,
    picture img {
      width: 100%;
      height: 65rem;
    }
  }

  @media screen and (min-width: 48em) {
    #astronav-menu {
      display: none;
    }
    header {
      align-items: flex-start;
      padding: 6.4rem;
    }

    h1 {
      margin: auto 0;
    }
  }

  @media screen and (min-width: 75em) {
    header {
      align-items: flex-start;
      padding: 6.4rem 16.5rem;
    }

    h1 {
      width: 65rem;
      padding: 4rem;
    }
  }
</style>
