---
import { navLinks } from '../consts';
import {
  Astronav,
  MenuItems,
  MenuIcon,
  OpenIcon,
  CloseIcon,
} from 'astro-navbar';
---

<div class='navbar'>
  <Astronav closeOnClick>
    <a href='/' aria-label='go home' class='nav__logo'>
      <img src='/assets/logo.svg' alt="logo"/>
    </a>
    <MenuIcon>
      <OpenIcon>
        <img src='/assets/icons/icon-hamburger.svg' alt='menu' />
      </OpenIcon>
      <CloseIcon>
        <img src='/assets/icons/icon-close.svg' alt='close' />
      </CloseIcon>
    </MenuIcon>

    <MenuItems class='hidden nav__menu' aria-label='nav menu'>
      <ul>
        {
          navLinks.map((link) => (
            <li class='nav__menu--link'>
              <a href={link.linkTo}>{link.link}</a>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</div>

<style lang='scss'>
  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    z-index: 6;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__logo img {
    width: 14.4rem;
    height: 2.4rem;
  }
  @media screen and (max-width: 50em) {
    .hidden {
      display: none;
    }

    a {
      flex-direction: column;
    }

    .nav__menu {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: var(--ravens-coat);
      color: var(--pearl);
      padding-top: 6.4rem;

      &:not(.hidden) {
        display: flex;
        flex-direction: column;
      }

      ul {
      
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.4rem;
        z-index: 6;
        margin: 15.9rem 0 auto 0;
        li {
          text-align: left;
          display: flex;
          justify-content: flex-start;
          align-content: center;
          align-items: center;
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  @media screen and (min-width: 50em) {
    header {
      display: flex;
      padding: var(--spacing-sm) 16.5rem;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .nav__menu {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      background-color: transparent;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--spacing-m);
        margin: 0;
        li a {
          margin-bottom: 0;
          font-family: var(--font-family-default);
          font-size: var(--default-font-size-link);
          font-weight: var(--font-weight-default);
          line-height: var(--line-height-default);
          letter-spacing: var(--letter-spacing-md);
          text-transform: capitalize;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -1rem;
            left: 50%;
            transform: translateX(-50%);
            background: var(--pearl);
          }
          &:hover::after {
            width: 2.5rem;
          }
        }
      }
    }

  }



</style>
